<template name="expenseTable">
  <div class="ui left floated small primary labeled icon button create">
    <i class="plus icon"></i> Add Expense
  </div>
  {{> reactiveTable settings=tableSettings}}
</template>

<template name="expenseTableControls">
  <div class="ui small basic icon buttons">
    <button class="ui button edit"><i class="edit icon"></i></button>
    <button class="ui negative button delete"><i class="remove icon"></i></button>
  </div>
</template>

<template name="createExpenseForm">
  {{#autoForm
    template="plain" class="ui form"
    collection="Expenses"
    id="createExpenseForm"
    type="method"
    meteormethod="createExpense"}}
    <fieldset>
      <legend>Add an Expense</legend>
      {{> afQuickField
        name='amount' placeholder="Enter an amount (up to two decimal places)"
        formgroup-class="field"}}
      {{> afQuickField
        name='description' rows=2 placeholder="Enter a description"
        formgroup-class="field"}}
      {{> afQuickField
        name='comment' rows=2 placeholder="Enter a comment (optional)"
        formgroup-class="field"}}

      {{> afQuickField name='timestamp' type="hidden" value=now}}
      {{> afQuickField name='ownerId' type="hidden" value=userId}}
      {{> afQuickField name='ownerName' type="hidden" value=userName}}
      <div class="ui buttons">
        <button type="submit" class="ui positive button">Save</button>
        <div class="or"></div>
        <button type="cancel" class="ui button cancel">Cancel</button>
      </div>
    </fieldset>
  {{/autoForm}}
</template>

<template name="updateExpenseForm">
  {{#autoForm
    template="plain" class="ui form"
    collection="Expenses"
    doc=expenseData
    id="updateExpenseForm"
    type="method-update"
    meteormethod="updateExpense"}}
    <fieldset>
      <legend>Update an Expense</legend>
      {{> afQuickField
        name='amount'
        formgroup-class="field"}}
      {{> afQuickField
        name='description' rows=2
        formgroup-class="field"}}
      {{> afQuickField
        name='comment' rows=2
        formgroup-class="field"}}
        <div class="ui buttons">
          <button type="submit" class="ui positive button update">Save</button>
          <div class="or"></div>
          <button type="cancel" class="ui button cancel">Cancel</button>
        </div>
    </fieldset>
  {{/autoForm}}
</template>
