<template name="expenseList">
  <div class="row margin-top-10">
    <button type="button" class="btn btn-primary create">Create an Expense</button>
  </div>
  <div class="row margin-top-05">
    {{> tabular table=TabularTables.Expenses class="table table-striped table-bordered table-condensed"}}
  </div>
</template>

<template name="createExpenseForm">
  {{#autoForm
    collection="Expenses"
    id="createExpenseForm"
    type="method"
    meteormethod="createExpense"}}
    <fieldset>
      <legend>Add an Expense</legend>
      {{> afQuickField name='timestamp' type="datetime-local" value=now}}
      {{> afQuickField name='description' rows=2 placeholder="Enter a description"}}
      {{> afQuickField name='amount' placeholder="Enter an amount (up to two decimal places)"}}
      {{> afQuickField name='comment' rows=2 placeholder="Enter a comment (optional)"}}
      {{> afQuickField name='ownerId' type="hidden" value=userId}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="cancel" class="btn cancel">Close</button>
  {{/autoForm}}
</template>

<template name="updateExpenseCell">
  <button type="button" class="btn btn-xs update">Update</button>
</template>

<template name="updateExpenseForm">
  {{#autoForm
    collection="Expenses"
    doc=expenseData
    id="updateExpenseForm"
    type="method-update"
    meteormethod="updateExpense"}}
    <fieldset>
      <legend>Update an Expense</legend>
      {{> afQuickField name='timestamp' type="datetime-local"}}
      {{> afQuickField name='description' rows=2}}
      {{> afQuickField name='amount'}}
      {{> afQuickField name='comment' rows=2}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="cancel" class="btn cancel">Close</button>
  {{/autoForm}}
</template>

<template name="deleteExpenseCell">
  <button type="button" class="btn btn-xs btn-danger delete">Delete</button>
</template>

