<template name="navbar">
  <div class="navbar">
    <div class="ui left vertical inverted sticky pointing menu" style="width: 175px;">
      <div class="item {{isActive "welcome"}}">
        <a class="ui mini logo icon image" href="/">
          <img src="/images/ET.png">
        </a>
        <a href="/">
          <b>Expense Tracker</b>
        </a>
      </div>
      {{#if currentUser}}
      <div class="item">
        <div class="ui inverted vertical menu">
          <a class="item {{isActive "expense"}}" href="/expense">
            Expenses
          </a>
          <a class="item {{isActive "report"}}" href="/report">
            Weekly Report
          </a>
          {{#if isManagerOrAdmin}}
          <a class="item {{isActive "user"}}" href="/user">
            Manage Users
          </a>
          {{/if}}
        </div>
      </div>
      <a class="item logout" href="/logout">
        <b>Logout</b>
      </a>
      {{/if}}
    </div>
  </div>
</template>
