<template name="userTable">
  {{> reactiveTable settings=tableSettings}}
</template>

<template name="userTableControls">
  <div class="ui small basic icon buttons">
    <button class="ui button edit"><i class="edit icon"></i></button>
    <button class="ui negative button delete"><i class="remove icon"></i></button>
  </div>
</template>

<template name="updateUserForm">
  {{#autoForm
    collection="Meteor.users"
    doc=userData
    id="updateUserForm"
    type="method-update"
    meteormethod="updateUser"}}
    <h4 class="ui dividing header">Update a user</h4>
    {{> afQuickField name='username' }}
    {{> afQuickField name='roles' options=roleOptions }}
    <div class="ui buttons">
      <button type="submit" class="ui positive button">Save</button>
      <div class="or"></div>
      <button type="cancel" class="ui button cancel">Cancel</button>
    </div>
  {{/autoForm}}
</template>
