<template name="userList">
  {{> reactiveTable settings=tableSettings}}
</template>

<template name="updateUserCell">
  <button type="button" class="btn btn-xs update">Update</button>
</template>

<template name="updateUserForm">
  {{#autoForm
    template="plain" class="ui form"
    collection="Meteor.users"
    doc=userData
    id="updateUserForm"
    type="method-update"
    meteormethod="updateUser"}}
    <fieldset>
      <legend>Update a User</legend>
      {{> afQuickField
        name='username'
        formgroup-class="field"}}
      {{> afQuickField
        name='roles' options=roleOptions
        formgroup-class="field"}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
    <button type="cancel" class="btn cancel">Close</button>
  {{/autoForm}}
</template>

<template name="deleteUserCell">
  <button type="button" class="btn btn-xs btn-danger delete">Delete</button>
</template>
